* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 400vh;
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{ /* On cache la barre de scroll*/
    display: none;
}

/*-----LE SCROLL-----*/

.container{
    /* height: 100vh;
    scroll-snap-type:y mandatory;
    overflow-y: scroll; */
    display: flex;
    
}
.scroll{
    width: 20%;
}
.main{
    width: 40%;
    
    justify-content: center;
}

.slider{
    position: fixed;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    bottom: 20px;
    height: 100vh;
    left: 40%;
    scroll-snap-align: center;
    flex-direction: column;
}

/*-----LE SCROLL-----*/

.title {
    /* les titres de models*/
    position: absolute;
    z-index: 3;
    font-size: 45px;
    top: 10%;
    text-align: center;
    color: #FFF;
}

/*-----MENU-----*/
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 10%;
    height: 75.8%;
    
    z-index: 4;
    top: 11.7%;
    color: #FFF;
    background-color: transparent;
}
.menuLat a{
    position: relative;
    background-color: transparent;
    display: block;
    width: fit-content;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

.menuLat a::after{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.menuLat a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
/*-----MENU-----*/


/*----IMAGES-----*/
img{
    z-index: 1;
}

#MS{height: 225px;}
#M3{height: 200px;}
#MX{height: 234px;}
#MY{height: 234px;}
/*----IMAGES-----*/


/*-----LA BARRE DE SUIVI-----*/
#bar{
    position: fixed;
    left: 8%;
    z-index: 4;
    top: 13%;
    width: 1px;
    height: 74%;
    border-radius: 40px;
    background-color: rgb(132, 132, 132);
}

#movement{
    width: 2px;
    position: absolute;
    background-color: #FFF;
    border-radius: 40px;
    transform: translate(-50%, 0%);
}
/*-----LA BARRE DE SUIVI-----*/


/*-----LES POINTS DE SUIVI-----*/
.point{
    z-index: 8;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50%;
    border: solid 4px black;
    background-color: #FFF;
    height: 14px;
    width: 14px;
    transform: translate(-50%, -50%);
}

.point:nth-child(1) {
    top: 0%;
}

.point:nth-child(2) {
    top: 12.4%;
}

.point:nth-child(3) {
    top: 26%;
}

.point:nth-child(4) {
    top: 38.2%;
}

.point:nth-child(5) {
    top: 50.6%;
}

.point:nth-child(6) {
    top: 63%;
}

.point:nth-child(7) {
    top: 75.4%;
}

.point:nth-child(8) {
    top: 87.5%;
}

.point:nth-child(9) {
    top: 100%;
}

#GP {
    background-color: black;
    position: absolute;
    border-radius: 50%;
    border: solid 3px #FFF;
    height: 20px;
    width: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle{
    z-index: 0;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    left:50%;
    top: 65%;
    height: 70px;
    width: 450px;
    border: solid 3px #FFF;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 5px 1px rgb(255, 255, 255);
}


/*-----LES POINTS DE SUIVI-----*/

/*-----BOUTONS DE VISUALISATION-----*/
.visu{
    z-index: 6;
    position: absolute;
    left: 50%;
    top: 23%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px ;
    border: solid 2px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 225px;
    height: 35px;
}

.caracteristiques {
    color: #FFF;
    position: fixed;
    bottom: 15%;
    display: flex;
    justify-content:center;
}
.caracteristiques p{
    margin-right: 5%;
}
/*-----BOUTONS DE VISUALISATION-----*/


.btn{
    background-color: transparent;
    width: 300px;
    height: 40px;
    font-size: 20px;
    color: #FFF;
    border: solid 2px;
    margin-top: 40px;
}



/*-----CORRECTIONS-----*/
/* #btn{
    top:26% ;
} */



#correction_titre{
    position: fixed;

    top: 13%;
} 
/*-----CORRECTIONS-----*/


/* ------------------------------------------------ Partie droite les options ------------------------------------------------ */
.options{
    color: white;
    width: 40%;
    font-size: 18px;
}

.options h2{
    padding-top: 35px;
    margin-top: 0px;
    text-align: center;
}

.options .motorisation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.options .couleurs{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.selectionneColor{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkedColor{margin-top:10px;
    color: rgb(101, 77, 255);
    border: solid 6px;
    border-radius: 10px;}

.couleur {
    position: relative;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
#W{
    background-color: #FFF;
    border: solid 1px white;
}
#Black{
    background-color: black;
    border: solid 1px white;
}
#G{
    background-color: rgb(78,80,86);
    border: solid 1px white;
}
#Blue{
    background-color: rgb(2, 41, 98);
    border: solid 1px white;
}
#R{
    background-color: rgb(121, 0, 0);
    border: solid 1px white;
}
#Beige{
    background-color: rgb(235, 226, 212);
    border: solid 1px white;
}
button{
    cursor: pointer;
}


.options .jantes {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Wheels{
    margin-bottom: 20px ;
}


.options .jantes p{
    margin-top: 10px;
    text-align: center;
    border-bottom: solid #fff;
    width: fit-content;
    
}

.options .jantes  img{
    padding: 10px;
    width: 120px;
}
 
.interieur {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Interior{
    margin-bottom: 20px;
}
.interieur p{
    margin-top: 10px;
    text-align: center;
    border-bottom: solid #fff;
    width: fit-content;
}


.interieur div{
    
    margin: 5px;
}
#butcommande{
    display: flex;
    justify-content: center;
}
.autopilot{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#autopilot{
    margin-bottom: 20px;
}
.autopilot p{
    margin-bottom: 20px;
}

.Self-Driving{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Self-Driving{
    margin-bottom: 20px;
}
.Self-Driving p{
    margin-bottom: 20px;
}
.Self-Driving ul{
    width: 350px;
}
.Self-Driving ul li{
    margin-bottom: 10px;
}


.recharge {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    position: relative;
}
.recharge h3{
    margin-top: 40px;
    margin-bottom: 20px;
}
#recharge{
    margin-bottom: 20px;
}



.fin{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fin h3{
    margin-top: 40px;
    margin-bottom: 20px;
}
.crochet p{
    width: 360px;
}
.commander{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#desc1{ 
    margin-top: 30px;
    padding: 15px;
    height: fit-content;
    text-align: center;
    width: 200px;
    font-size: 15px;
    font-style: italic;
    background-color: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    
}

#desc2{ 
    margin-top: 30px;
    padding: 15px;
    height: fit-content;
    text-align: center;
    width: 200px;
    font-size: 15px;
    font-style: italic;
    background-color: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    
}

#desc3{ 
    margin-top: 30px;
    padding: 15px;
    height: fit-content;
    text-align: center;
    width: 220px;
    font-size: 15px;
    font-style: italic;
    background-color: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    
}
#desc4{ 
    margin-top: 30px;
    padding: 15px;
    height: fit-content;
    text-align: center;
    width: 200px;
    font-size: 15px;
    font-style: italic;
    background-color: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    
}
#desc5{ 
    margin-top: 30px;
    padding: 15px;
    height: fit-content;
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-style: italic;
    background-color: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    
}
#desc6{ 
    margin-top: 30px;
    padding: 15px;
    height: fit-content;
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-style: italic;
    background-color: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    
}
#desc7{ 
    margin-top: 30px;
    padding: 15px;
    height: fit-content;
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-style: italic;
    background-color: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    
}

.more_info{
    position: fixed;
    z-index: 9;
    width: 40px;
    height: 40px;
    top: 1%;
    right: 1%;
    background-color: transparent;
    color: #FFF;
    border-radius: 50%;
    border:solid #FFF;
    font-size: 30px;
    
}

.invisible{opacity: 0;}

.contenu{
    position: absolute  ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenu p{
    width: fit-content;
    margin-top: 10px;
    border-bottom:solid #FFF;
}
.infos{
    
    display: flex;
    align-items: center;
   
}
.infos .info{
    color: white;
    
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.infos .info h2{
    font-size: 20px;
}
.infos .info h2 .big{
    font-size: 30px;
}
.infos .info p{
    font-size: 15px;
    width: 100px;
    text-align: center;
}




fieldset{
    padding: 5%;
}
legend {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 3px 6px;
}

.buttonToggle{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider-toggle {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(255, 255, 255);
-webkit-transition: .4s;
transition: .4s;
}

.slider-toggle:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: rgb(0, 0, 0);
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider-toggle {
background-color: rgb(101, 77, 255);
}

input:focus + .slider-toggle {
box-shadow: 0 0 1px rgb(101, 77, 255);
}

input:checked + .slider-toggle:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
background-color: rgb(255, 255, 255);
}

/* Rounded sliders */
.slider-toggle.round {
border-radius: 34px;
}

.slider-toggle.round:before {
border-radius: 50%;
}

.submit{
    display: flex;
    padding: 20px;
}
.submit input{
    width: 332px;
    cursor: pointer;
    margin-left: 2px;
    height: 40px;
    border: solid 2px rgb(101, 77, 255);
    border-radius: 10px;
    font-weight: bold;
}
.clasic{
    background: white;
}
.check{
    background: rgb(101, 77, 255);
    color: rgb(0, 0, 0);
}


#wrapper{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* Floats button in the middle */
section{
	margin: 50px 0;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* The button */
#button-blue{
	float:left;
	width: 100%;
	max-width:500px;
	border: white solid 4px;
	cursor: pointer;
	background-color: transparent;
	margin-top: -4px;
	color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: .1em;
	padding-top: 22px;
	padding-bottom: 22px;
	font-weight: 500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

/* Change text color & background opacity on hover*/
#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: rgb(255, 255, 255);
}

/* The white hover effect */
.ease {
	width: 0px;
	height: 70px;
	background-color: rgb(101, 77, 255);
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

/* Make visable when hover */
.btn-container:hover .ease{
	width: 100%;
	max-width: 500px;
	background-color: rgb(101, 77, 255);
	border: 0;
}

