* {
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;

}

.form_login {
    width: 25vw;
    height: 50vh;
    margin: auto;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 5%;
}

h3 {
    color: white;
    margin-left: 5%;
}

.login {
    margin-top: 5%;
    height: 15%;
}

.login input {
    width: 90%;
    height: 60%;
    border: none;
    background: none;
    border-bottom: solid 2px rgb(44, 67, 108);
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.login input:focus
{
    border: none;
}

.button {
    width: 80%;
    height: 10%;
    margin: 10%;
    margin-bottom: 2%;
    margin-top: 4%;
    background: none;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    
}

.button:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
    transition: all 0.2s ease;
}

#blabla {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}

.remember {
    margin-right: 5%;
}

.password_forget{
    margin-left: 5%;
}

.signup a{
    width: 100%;
    display: flex;
    justify-content: center;
}