* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
}

header {
    display: flex;
    min-width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 120;
    background-color: #000;
    margin-bottom: 30px;
}

.left {
    width: 50%;
    height: 50px;
    justify-content: flex-start;
    margin-left: 70px;
}

.left img {
    width: 150px;
    height: 50px;
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    margin-top: 10px;
}

.noZindex {
    opacity: 0;
}

.see {
    opacity: 1;
}

.hamburgeur {

    position: relative;
    display: block;
    width: 30px;
    height: 32px;
    cursor: pointer;
    margin-left: 20px;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}

.hamburgeur .bar,
.hamburgeur:after,
.hamburgeur:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 10px;
}

.hamburgeur.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
    color: white;
    background-color: white;

}

.hamburgeur.is-active:after {
    transform: rotate(45deg) translate(-8px, -6px);
    color: white;
    background-color: white;

}

.hamburgeur.is-active .bar {
    opacity: 0;
    color: white;
    background-color: white;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 30%;
    min-height: 100vh;
    display: block;
    z-index: 3;
    background-color: white;
    padding-top: 120px;
    transition: 0.4s;
    display: block;
    flex-direction: column;
}

.mobile-nav.is-active {
    left: 70%;
    border-left: solid 2px black;
    width: 70%;
}

.mobile-nav a {
    display: block;
    width: 110px;
    height: 40px;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 16px;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    transition: all 0.4s ease-out;

}

.mobile-nav a:hover {
    transform: translateX(15px);
}

.mobile-nav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.mobile-nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.ajt-mobile-nav a {
    width: 200px;
}

.right img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
}


.container {
    padding-top: 90px;
    width: 100%;
    height: 200vh;
    color: black;
}

.title-essai {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-essai h1 {
    line-height: 4rem;
    margin-right: 355px;
}

.image-voiture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-voiture img {
    text-align: center;
    width: 58%;
    height: auto;
    transition: all 0.4s ease-in;
}

.essai-button-model {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}

.essai-button-model input {
    width: 300px;
    height: 40px;
    margin-left: 40px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.essai-button-model .isSelected {

    background-color: white;
    border: solid 2px black;
    color: black;
    transition: all 0.5s ease-in-out;
}

.container-form-essai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

/* .left-form div,
.right-form div {
    display: flex;
     flex-direction: column;   
     margin-top: 10px; 
} */

.left-form label,
.right-form label {
    margin-bottom: 8px;
}

.label-form-essai {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.title-form-essai {
    padding-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-submit-form-essai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 30%;
}

.btn-submit-form-essai input {
    width: 200px;
    height: 40px;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-submit-form-essai input:hover {
    transform: scale(1.05);
    background-color: white;
    border: solid 2px black;
    color: #000;
}

.group {
    position: relative;
    margin-top: 30px;
}

.text-area-form-essai {
    font-size: 14px;
    padding: 14px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.text-area-form-essai:focus {
    outline: none;
}


/* active state */
.text-area-form-essai.focus~.label-form-essai,
.text-area-form-essai:valid~.label-form-essai {
    top: -20px;
    font-size: 14px;
    color: #000;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #000;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.text-area-form-essai:focus~.bar:before,
.text-area-form-essai:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.text-area-form-essai:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* --------------------------------------------------------------------------- */
.proposition {
    height: 0;
    z-index: 20;

}

.adress-feedback ul {
    list-style-type: none;
    background-color: white;
    /* border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;  */

}

.adress-feedback ul a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.adress-feedback ul a:hover {
    color: blue;
}