* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 400vh;
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

::-webkit-scrollbar {
    /* On cache la barre de scroll*/
    display: none;
}


/*-----LE SCROLL-----*/


.slider {
    position: relative;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    height: 100vh;
    scroll-snap-align: center;
    flex-direction: column;
}

/*-----LE SCROLL-----*/






.title {
    /* les titres de models*/
    position: absolute;
    z-index: 3;
    font-size: 35px;
    top: 10%;
    text-align: center;
    color: #FFF;
}

/*-----MENU-----*/
.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 14%;
    height: 75.8%;
    z-index: 4;
    top: 11.7%;
    color: #FFF;
    background-color: transparent;


}

.menuLat a {
    position: relative;
    background-color: transparent;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

.menuLat a::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.menuLat a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/*-----MENU-----*/


/*----IMAGES-----*/
img {
    z-index: 1;
}

#MS {
    height: 210px;
}

#M3 {
    height: 200px;
}

#MX {
    height: 234px;
}

#MY {
    height: 234px;
}

/*----IMAGES-----*/


/*-----LA BARRE DE SUIVI-----*/
#bar {
    position: fixed;
    left: 12%;
    z-index: 4;
    top: 13%;
    width: 1px;
    height: 74%;
    border-radius: 40px;
    background-color: rgb(132, 132, 132);
}

#movement {
    width: 2px;
    position: absolute;
    background-color: #FFF;
    border-radius: 40px;
    transform: translate(-50%, 0%);
}

/*-----LA BARRE DE SUIVI-----*/


/*-----LES POINTS DE SUIVI-----*/
.point {
    z-index: 8;
    position: absolute;
    border-radius: 50%;
    border: solid 4px black;
    background-color: #FFF;
    height: 14px;
    width: 14px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#GP {
    background-color: black;
    position: absolute;
    border-radius: 50%;
    border: solid 3px #FFF;
    height: 20px;
    width: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    z-index: 0;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    left: 50%;
    top: 65%;
    height: 70px;
    width: 450px;
    border: solid 3px #FFF;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 5px 1px rgb(255, 255, 255);
}

.point:nth-child(1) {
    top: 2%;
}

.point:nth-child(2) {
    top: 32.4%;
}

.point:nth-child(3) {
    top: 65.85%;
}

.point:nth-child(4) {
    top: 99.15%;
}

/*-----LES POINTS DE SUIVI-----*/

/*-----BOUTONS DE VISUALISATION-----*/
.visu {
    z-index: 6;
    position: absolute;
    left: 50%;
    top: 23%;
    font-size: 15px;
    border-radius: 30px;
    border: solid 2px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 225px;
    height: 35px;
    cursor: pointer;
}

.visu:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    transition-duration: 300ms;
}

/*-----BOUTONS DE VISUALISATION-----*/


/*-----CARACTERISTIQUES-----*/
.infos_card {
    position: absolute;
    right: 25%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 12%;
    width: 1px;
    height: 74%;
    border-radius: 40px;

}

.infos {
    color: white;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 404px;
    padding: 20px;
}

.infos h2 {
    font-size: 30px;
}

.infos h2 .big {
    font-size: 40px;
}

.infos p {
    font-size: 15px;

}


/*-----CARACTERISTIQUES-----*/
.img {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

.img img {
    width: 250px;
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

}

.img img:hover {
    transform: scale(1.1);
}

.test-drive {
    position: relative;
    top: 200%;
    text-align: center;
    background-color: #000;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

.test-drive:hover {
    text-decoration: underline;
    color: white;
}

.container-cookie {
    position: fixed;
    margin: 20px;
    left: 20%;
    top: 50%;
    height: 380px;
    width: 60%;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 999;
    background-color: white;
}

.nav-cookie {
    display: flex;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    height: 40px;
}

.nav-cookie p {
    width: 100%;
    cursor: pointer;
    border-bottom: solid 2px gray;

}

.nav-cookie p:hover {
    color: rgb(101, 77, 255);
    border-bottom: solid 3px rgb(101, 77, 255);

}

.details-cookie {
    padding: 5px;
    border-bottom: solid 2px gray;
}

.details-cookie p {
    width: 100%;
}

.buttonTurn-cookie {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: solid 2px gray;
}

.nameButtonToggle-cookie {
    display: flex;
    justify-content: space-around;
    padding-top: 20px
}

.buttonToggle-cookie {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.switch-cookie {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch-cookie input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider-cookie {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-cookie:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-cookie {
    background-color: rgb(101, 77, 255);
}

input:focus+.slider-cookie {
    box-shadow: 0 0 1px rgb(101, 77, 255);
}

input:checked+.slider-cookie:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider-cookie.round {
    border-radius: 34px;
}

.slider-cookie.round:before {
    border-radius: 50%;
}

.submit {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.submit input {
    width: 200px;
    cursor: pointer;
    margin-left: 2px;
    height: 30px;
    border: solid 2px black;
    border-radius: 10px;
    font-weight: bold;
}

.clasic-cookie {
    background: white;
}

.check-cookie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;
    margin-left: 2px;
    height: 30px;
    border: solid 2px black;
    border-radius: 10px;
    font-weight: bold;
    background: black;
    color: white;
    text-decoration: none;
}