* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  height: 400vh;
  margin: 0;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  /* On cache la barre de scroll*/
  display: none;
}
header {
  display: flex;
  min-width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 120;
  transform: translate(-50%,-50%);
  top: 5%;
  left: 50%;
  justify-content: space-between;
  background-color: black;
}

.left {
  width: 20%;
  height: 50px;
  justify-content: flex-start;
  margin-left: 70px;
  display: flex;
}

.left img {
  width: 150px;
  height: 50px;
}

.right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.noZindex {
  opacity: 0;
}

.see {
  opacity: 1;
}

.hamburgeur {

  position: relative;
  display: block;
  width: 30px;
  height: 32px;
  cursor: pointer;
  margin-left: 20px;
  appearance: none;
  background: none;
  outline: none;
  border: none;

}

.hamburgeur .bar,
.hamburgeur:after,
.hamburgeur:before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 10px;
}

.hamburgeur.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
  color: black;
  background-color: black;

}

.hamburgeur.is-active:after {
  transform: rotate(45deg) translate(-8px, -6px);
  color: black;
  background-color: black;

}

.hamburgeur.is-active .bar {
  opacity: 0;
  color: black;
  background-color: black;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 30%;
  min-height: 100vh;
  display: block;
  z-index: 3;
  background-color: white;
  padding-top: 120px;
  transition: 0.4s;
  display: block;
  flex-direction: column;
}

.mobile-nav.is-active {
  left: 70%;
}

.mobile-nav a {
  display: block;
  width: 110px;
  height: 40px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 16px;
  padding: 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  transition: all 0.4s ease-out;

}

.mobile-nav a:hover {
  transform: translateX(15px);
}

.mobile-nav a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:
      #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.mobile-nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ajt-mobile-nav a {
  width: 200px;
}

.right img {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  cursor: pointer;
}

.radio_buttons{
  margin-top: 100px;
}


main#carousel {
  position: relative;
  top: 25%;
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  border: solid 4px #FFF;
  border-radius: 15px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #0177b5;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #22aad4;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #add9ea;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #22aad4;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #0177b5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.add__basket{
  position: absolute;
  z-index: 3;
  opacity: 0;
  bottom: 10%;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  border: solid #FFF;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}
.add__basket:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.visible{
  opacity: 1;
  z-index: 9;
}
.invisible{
  opacity: 0;
}

.form__control{
  height: 30px;
  width: 200px;
}
.btn__info{
  width: 30px;
  height: 30px;
}
.d__flex{
  display: flex;
}

/* Titre shop */
#title_shop {
  color: white;
  text-decoration: none;
  margin-top: 13px;
  margin-left: 5px;
}
/* Le pip pour faire la séparation avec le logo */
#title_pip {
  color: white;
  margin-top: 11px;
  margin-left: 5px;
  margin-right: 6px;
}
/* Le menu des categories */
.center {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 12px;
}
.categorie_menu_label {
  color: white;
  text-decoration: none;
}
.categorie_menu_list {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 200;
}
.clothes_man {
  display: flex;
  flex-direction: column;
}
.clothes_woman {
  display: flex;
  flex-direction: column;
}
.clothes_child {
  display: flex;
  flex-direction: column;
}
#titreMeilleuresV{
  position: absolute;
  width: 400px;
  font-size: 25px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  transform: translate(-50%,-50%);
  top:20%;
  left: 50%;
}

/* La section qui affiche les accessoires */
.affiche__accessoires{
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,0%);
  color: #FFF;
  top: 25%;
  left: 50%;
  height: fit-content;
  width: 90%;
  z-index: 1;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.card__accessoire{
  position: relative;
  width: 414px;
  height: 500px;
  margin: 1.66%;
  /* text-align: justify;
  display: flex;
  flex-direction: column;
  overflow: hidden; */
}

.section__image{
  position: relative;
  z-index: 0;
  background-color: transparent;  
  width: 414px;
  height: 414px;
	cursor: pointer;
	
}

.images__galerie{
  border-radius: 1px;
  width: 414px;
  height: 414px;
}

.content_accessoire{
  font-weight: bold;
}


/* Change text color & background opacity on hover*/
.section__image:hover{
	color: rgb(255, 255, 255);
}

/* The white hover effect */
.ease {
  position: absolute;
  top: 0;
  opacity: 0;
	height: 110px;
	background-color: rgba(0, 0, 0, 0.636);
	-webkit-transition: .05s ease;
	-moz-transition: .05s ease;
	-o-transition: .05s ease;
	-ms-transition: .05s ease;
	transition: .05s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.ease a{
  text-decoration: none;
  color: #FFF;
}

/* Make visable when hover */
.section__image:hover .ease{
  opacity: 1;
	width: 100%;
	background-color: rgba(58, 58, 58, 0.892);
	border: 0;
}

#soubmite{
  display: none;
}

label{
  cursor: pointer;
}

/* DETAILS ACCESSOIRES */
.container{
  margin-top: 375px;

  display: flex;
}

.image{
  position: relative;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 55vw;
  height: 90vh;
}

.image .img__spécifique{
  position: absolute;
  width: 100%;
  height: 100%;
}

.content__details{

  width: 35vw;
  height: 400px;
  overflow-wrap: break-word;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
.content__details button{
  height: 30px;
  width: 50%;
  margin-bottom: 20px; 
  margin-top: 20px;
}

button{
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
}

button:hover{
  background-color: #232323;
  color: #FFF;
}

.content__details #tititre{
  margin-bottom: 10px;
  font-size: 20px;
 
}

.alert{
  position: absolute;
  z-index: 14;
  width: 95%;
  height: 4%;
  transform: translate(-50%,-50%);
  top: 13%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert_success{
  background-color: rgb(101, 77, 255);
  font-weight: bold;
  color: #FFF;
}

.compteur_cart{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 55%;
  background-color: rgb(101, 77, 255) ;
  cursor: pointer ;
}

#compteurcart{
  transform: translate(-50%,-50%);
}

.compteur_cart p{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 3px;
}

.flex{
  margin-top: 30px;
  display: flex;
}
#nb__choisi{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 25px;
  width: 30px;
  padding-left: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#panier__sec{
  position: absolute;
  transform: translate(-50%,0%);
  left: 50%;
}

header li {
  display: inline-block;
  vertical-align: top;
  
}
header li a{
  display: block;
  padding: 20px;
}

.wrapper ul li a:hover{
  background-color: white;
  color: black
}  

.wrapper ul li:hover .sub-menu{
  display: flex;
  flex-direction: column;
}
header li:hover .container-sub-menu{
  border: solid 2px white;
}
.wrapper ul li a{
  color: white;
  text-decoration: none;
}

.sub-menu{
  display: none;
  width: 800px;
  padding: 10px;
}
.sub-menu h3{
  border-bottom: solid 4px black;
  width: 150px;
}

.container-sub-menu{
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;  
}

